/* Estilos globales  ------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Sansita:wght@400;700;800&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    --primary: #5D8B5D;
    --white: #D9D9D9;
    --grey: #3E3D3D;
    --brown: #836B47;
    --lime: #c0d49f; /*#CCD49F*/
    --yellow: #DFD2A1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    height: 100%;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    position: relative; /* fixed me soluciona el scroll horizontal*/
}

/* Estilos globales - Header*/

header{
    min-width: 100vw;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color: var(--primary);
    height: 100px;
}

.listaNav{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--primary);
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

.navbar-nav{
    gap: 120px;
    margin-left: 120px;
    width: 100%;
    font-size: 20px;
}

.logoHeader{
    height: 70px;
    width: 125px;
    border-radius: 30px;
}

/* Estilos globales - Footer*/
footer{
    background-color: var(--grey);
    width: 100vw;
    display: flex;
    justify-content: center;
    position:absolute;
}

footer ul{
    list-style: none;
    width: 70%;
    margin-top: 15px;
}

.piePagina{
    margin-right: 50px;
}

.logoUadeFooter{
    width: 115px;
    height: 60px;
}

.linkFooter{
    text-decoration: none;
}

.p-font, .p-font a{
    font-weight: 500;
}

/* Index */

.mainIndex{
    background-image: url("./assets/fondo-desk-5.jpg");
    background-repeat: round;
    width: 100vw;
    height: 90vh;
}

/*Destino*/

.mainDestinos{
    width: 100%;
    height: 130vh;
    background-color: #c0d49f;
}

.carousel-container {
    width: 600px;
    margin: auto;
    padding: 60px;
    max-height:400px;
    background-color: #c0d49f;
    margin-bottom: 40px;
}

.textoCarrusel {
    /*background-color: rgba(62, 61, 61, 0.7); */ /* Ajusta el valor de opacidad según tus preferencias */
    color: white; /* Ajusta el color del texto según tus preferencias */
    text-shadow: 3px 3px 3px #080808;
    font-weight: bol;
    padding-top: 30px; 
}

.card{
   margin: 20px 0;
   
   

}

.card-body{
    background-color:#EBEBEB
    
}

/*margin-left: -12px;
margin-right: -12px;
border-radius: 0 0 9px 9px;*/

.botonsito{
    background-color: #5D8B5D;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;

}

.card-text {
    margin-bottom: 1em;
    
}

.card-title{
    font-weight: 700;
    
}


.tx a{
    color: #EBEBEB;
    text-decoration: none;
}

/*Nosotros*/
.containerNosotros{
    width: 100vw;
    height: 150vh;
}

.caja1{
    background-color: var(--lime);
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
}

.containerMisionVision{
    padding: 30px;
    width: 70%;
}

.caja2{
    background-color: #836B47;
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
}

.caja3{
    background-color: #DFD2A1;
    width: 100%;
    height: 44%;
}

.foto-caja1{
    width:100%;
    height: 100%;
}

.h2-mision{
    color:rgb(75, 95, 75);
    font-weight: bold;
}

.p-mision{
    color: rgb(75, 95, 75);
}

.h2-vision{
    color:rgb(77, 60, 15);
    font-weight: bold;
}

.p-vision{
    color: rgb(77, 60, 15);
}

.containerElegirnos{
    padding: 30px;
    text-align: center;
}
.h2-elegirnos{
    color: #6c654e;
    font-weight: bold;
}

.ol-elegirnos{
    color: #6c654e;
    text-align: justify;
    margin-top: 30px;
}
.ol-elegirnos li{
    margin: 10px;
}

/* Reserva */

.mainReserva{
    width: 100%;
    height: 120vh;
    background-color: var(--lime);
}

/*Contacto*/

.mainContacto{
    width: 100%;
    height: 100%;
}

.imgFondo{
    width: 100%;
    height: 50vh;
}

.formMapa{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
form{
    background-color:var(--lime);
    width: 500px;
    height: 570px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 2px 2px  gray;
}

.form-header h2{
    margin-top: 20px;
    font-weight: bold; 
    /*text-shadow: 2px 2px 3px var(--white);*/
    color: var(--primary);
}

form button{
    width: 80%;
    height: 35px;
    margin-left: 50px;
    background-color:var(--primary);
    color: var(--white);
    border: none;
    cursor: pointer;
    margin-top: -20px;
    box-shadow: -2px 2px 2px #416141;
}
form label input{
    width: 80%;
    height: 35px;
    padding: 10px;
    border: none;
    box-shadow: -2px 2px 2px  #747373;
}

form label input:focus{
    outline: none;
}

form small{
    color:rgb(193, 39, 39);
    margin-top: 1px;
    padding-top: 1px
}

.mapa{
    width: 700px;
    height: 570px;
}



#mensaje{
    height: 120px;
    padding-bottom: 93px;
}


/* Media Querie */

@media (max-width:601px){
    /*Header responsive*/
    .navbar-nav{
        gap: 20px;
        text-align: center;
        margin-left: 0px;
        
    }
    /*Footer responsive*/
    .footer{
        height: 80px;
    }
    /*Index responsive*/
    .mainIndex{
        background-image: url("./assets/fondoInicio-1.jpg");
        height: 110vh;
        background-repeat: no-repeat;
        background-position: center;
    }
    /*Destino responsive*/
    .mainDestino{
        height: 300vh;
    }
    /*Nosotros responsive*/
    .containerNosotros{
        height: 100%;
    }
    .caja1{
        display: flex;
        flex-direction: column;
    }
    .containerMisionVision{
        text-align: center;
        width: 100%;
    }
    .caja2{
        display: flex;
        flex-direction: column-reverse;
    }
    /* Contacto responsive*/
    .formMapa{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mapa{
        width: 500px;
        height: 370px;
        margin-top: 70px
    }
}