/* Estilos globales  ------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Sansita:wght@400;700;800&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    --primary: #5D8B5D;
    --white: #D9D9D9;
    --grey: #3E3D3D;
    --brown: #836B47;
    --lime: #CCD49F;
    --yellow: #DFD2A1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    height: 100%;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    position: relative; /* fixed me soluciona el scroll horizontal*/
}

/* Estilos globales - Header*/

header{
    min-width: 100vw;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color: var(--primary);
    height: 100px;
}

.listaNav{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--primary);
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

.navbar-nav{
    gap: 120px;
    margin-left: 120px;
    width: 100%;
    font-size: 20px;
}

.logoHeader{
    height: 70px;
    width: 125px;
    border-radius: 30px;
}

/* Estilos globales - Footer*/
footer{
    background-color: var(--grey);
    width: 100vw;
    display: flex;
    justify-content: center;
    position:absolute;
}

footer ul{
    list-style: none;
    width: 70%;
    margin-top: 15px;
}

.piePagina{
    margin-right: 50px;
}

.logoUadeFooter{
    width: 115px;
    height: 60px;
}

.linkFooter{
    text-decoration: none;
}

.p-font, .p-font a{
    font-weight: 500;
}

/* Index */

.mainIndex{
    background-image: url("./assets/fondo-desk-5.jpg");
    background-repeat: round;
    width: 100vw;
    height: 90vh;
    
}

/*Destino*/

.mainDestinos{
    width: 100vw;
    height: 130vh;
}

.carousel-container {
    width: 600px;
    margin: auto;
    margin-top: 20px;
    max-height:400px;
    background-color: #5D8B5D;
}

.textoCarrusel {
    background-color: rgba(62, 61, 61, 0.7); /* Ajusta el valor de opacidad según tus preferencias */
    color: white; /* Ajusta el color del texto según tus preferencias */
    padding: 10px; /* Ajusta el relleno según tus preferencias */
    
}


.card{
    margin: 20px;
}

.card-body{
    background-color:#EBEBEB;
}

.card-group{
    width: 60vw;
    margin: auto;
}

.botonsito{
    background-color: #5D8B5D;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;

}

.card-text {
    margin-bottom: 1em;
}

.card-title{
    font-weight: 700;
}
.tx a{
    color: #EBEBEB;
    text-decoration: none;
}

/*Nosotros*/
.containerNosotros{
    width: 100vw;
    height: 150vh;
    background-color: aqua;
}

.caja1{
    background-color: var(--lime);
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
}

.containerMisionVision{
    padding: 30px;
}

.caja2{
    background-color: #836B47;
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
}

.caja3{
    background-color: #DFD2A1;
    width: 100%;
    height: 44%;
}

.foto-caja1{
    width: 550px;
    height: 310px;
}

.h2-mision{
    color:rgb(75, 95, 75);
    font-weight: bold;
}

.p-mision{
    color: rgb(75, 95, 75);
}

.h2-vision{
    color:rgb(77, 60, 15);
    font-weight: bold;
}

.p-vision{
    color: rgb(77, 60, 15);
}

.containerElegirnos{
    padding: 30px;
    text-align: center;
}
.h2-elegirnos{
    color: #5b6045;
    font-weight: bold;
}

.p-elegirnos{
    color: #5b6045;
}

/* Reserva */

.mainReserva{
    width: 100vw;
    height: 80vh;
    background-color: var(--lime);
}

/*Contacto*/

.mainContacto{
    width: 100vw;
    height: 100vh;
}




/* Media Querie */

@media (max-width:601px){

    .footer{
        height: 80px;
    }

    .mainIndex{
        background-image: url("./assets/FondoInicio.jpg");
    }

    .navbar-nav{
        gap: 20px;
    }

    .mainIndex{
        background-repeat: no-repeat;
        background-position: center;
    }
}